* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 5rem;
    background: #ccc;
    justify-content: center;
    display: flex;
}
.header-nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.header-menu{
    /* sem bolinhas */
    list-style:none;
    /* um do lado do outro */
    display:flex;
}
.header-menu li{
    margin-left:20px;
}
.header-menu a{
    color:black;
    text-decoration:none;
}
