header {
  width: 100%;
  height: 5rem;
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-nav {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.header-menu a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.header-menu a:hover {
  color: #555;
}

/* Imagens do slideshow */
.imagem-slideshow {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* CSS dos Cards*/
.imgCard{
  
}